.about {
  font-family: "Geist Mono", monospace;
  font-size: 18px;
  font-weight: 300;
  /* font-weight: bold; */
  font-style: normal;
}
/* .about h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.about h2 {
  font-size: 2rem;
  font-weight: 500;
}
.about p {
  font-size: 1.125rem;
  font-weight: 400;
}
.about ul {
  font-size: 1.125rem;
  font-weight: 400;
  list-style-type: disc;
  padding-left: 20px;
}
.about li {
  margin-bottom: 0.5rem;
} */
