.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  border-top: 1px solid #374151;

  font-family: "Geist Mono", monospace;
  font-size: 18px;
  font-weight: 300;
  /* font-weight: bold; */
  font-style: normal;
}
